.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.list {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}

.container {
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    margin-right: 10px;
    width: 36px;
    margin-top: -8px;
}

.link {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

.link:hover {
    color: #4979ff;
}